<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="paper-search-icons.html">
<link rel="import" href="paper-search-input.html">
<link rel="import" href="paper-search-list.html">
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html">

<!--
An search bar a la material design.

Example:

    <paper-search-bar></paper-search-bar>

@group App Elements
@element paper-search-bar
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="paper-search-bar">
  <template>
    <style>
    :host {
      display: block;
      width: 100%;
      box-sizing: border-box;
      background: var(--paper-search-bar-background);
      @apply(--layout-vertical);
      @apply(--paper-search-bar);
    }
    .input-wrapper {
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
    iron-icon {
      padding: 8px;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
    }
    </style>
    <iron-icon icon="ps-icons:search"></iron-icon>
    <div class="input-wrapper">
      <paper-search-input value="{{value}}" placeholder="[[placeholder]]" autocomplete="{{autocomplete}}" custom-autocomplete></paper-search-input>
      <span class="flex"></span>
      <template is="dom-if" if="[[!_computeCustomCancel(customCancel)]]">
        <paper-icon-button icon="ps-icons:close" on-tap="cancel"></paper-icon-button>
      </template>
      <template is="dom-if" if="[[_computeCustomCancel(customCancel)]]">
        <content></content>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: 'paper-search-bar',

      properties: {

      /**
       * The search value
       */
       value: {
         type: String,
         notify: true
       },

       placeholder: {
         type: String,
         value: 'Type here to search'
       },

        /**
         * Set to true for adding a cancel button and method yourself
         */
        customCancel: {
          type: Boolean,
          value: false
        },

        autocomplete: {
          type: Boolean,
          notify: true
        }
      },

      cancel: function() {
        this.value = null;
      },

      _computeCustomCancel: function(a) {
        if (a) {
          return true;
        }
        return false;
      }

    });
  </script>
</dom-module>
